@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-04-27 20:21:07
 * @version $Id$
 */
/*初始化*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding: 0;border: 0;}
body{font-size: 12px;overflow-x: hidden;min-width: 1170px;}
img{border:none;}
ul,ol{list-style: none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration: none;}
/*通用样式*/
.comWidth{width: 1170px;margin: 0 auto;}
.fl{float: left;}
.fr{float: right;}
.hr_53{height: 53px;overflow: hidden;}
.hr_50{height: 50px;overflow: hidden;}
a:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
/*字体样式*/
.os{
	font-family: 'Open Sans';
}

/*清浮动*/
.clearfix:after{content: "";display:block;clear:both;}
.clearfix{zoom:1;}

/*头部部分*/
.headerBox{
	background-color: #75C6BF;
	height: 80px;
	position: relative;
}
.header_bottom{
	position: absolute;
	bottom: 0;
	width: 2000px;
	height: 9px;
	background: url(../images/ruler.png) center bottom repeat-x;
}
/*左上角部分*/
.logo{
	width: 390px;
	height: 28px;
	line-height: 29px;
	margin: 30px 0;
}
.logo h1{
	font-family: 'Open Sans';
	font-size: 30px;
	color: #FFFFFF;
	font-weight: Extrabold;
}
.logo p{
	padding-top: 3px;
	font-family: '微软雅黑';
	color: #FFFFFF;
	font-size: 20px;
}

/*导航栏部分*/
.nav{
	padding: 25px 0 21px 0;
}
.nav li{
	float: left;
	height: 30px;
	line-height: 30px; 
	text-align: center;
	margin: 0 10px;
}
.nav li a{
	cursor: pointer;
	color: #FFFFFF;
	font-size: 7px;
	line-height: 7px;
	font-size: 12px;
	padding: 13px 14px;
	font-family: '微软雅黑';

}
.nav .more{
	position: relative;
}
.nav .more>a{
	padding:7px 20px;
	background: url(../images/arrow1.png) left center no-repeat;
}

/*下拉框样式*/
.listBox{
	display: none;
	position: absolute;
	z-index: 2;
	top: 38px;
	width: 200px;
	height: 86px;
	padding: 15px 0;
	border-radius: 6px;
	background: url(../images/bg_red.png) center center no-repeat;
}
.nav .more .listBox li{
	clear: both;

}
.nav .more .listBox li a{
	padding:0 40px 0 20px; 
	background: url(../images/arrow2.png) left center no-repeat; 
}
/*头部交互样式*/
.nav .active{
	border-radius: 6px;
	background-color: #62A29E;
	font-size: 10px;
	box-shadow: 0 3px #528B86;
}
.nav .more .hover_a{
	background-color: #E76259;
	border-radius: 6px;
	padding:7px 20px;
	opacity: 1;
}

.nav .more .listBox li a:hover{
	opacity:0.9;
	filter:alpha(opacity=0.9);
}
.nav .more .listBox li.on{
	background-color: #75C6BF;
	border-radius: 3px;
}


/*头部右边查找按钮*/
.search{
	width: 16px;
	height: 16px;
	text-align: center;	
	margin-top: -15px;
	cursor: pointer;
}
.search img{
	width: 16px;
	height: 16px;

}


/*section Home样式*/
.homeBox{
	position: relative;
	height: 500px;
	background-color: #7F8B8B;
}
/*中间区域*/
.imgMain{
	padding-top: 145px;
	text-align: center;
}
.homeTxtBox{
	margin: 0 auto;
	width: 470px;
	text-align: center;
}
.homeTxtBox h1{
	width: 325px;
	margin: 0 auto;
	font-size: 50px;
	font-family: 'Open Sans';
	color: #FFFFFF;
	background-color: #E1524A;
	border-radius: 6px;
	padding: 0 10px;
}
.homeTxtBox p{
	padding: 14px 28px;
	font-size: 16px;
	font-family: '微软雅黑';
	background-color: #404646;
	border-radius: 6px;
	color: #FFFFFF;
	margin-top: 10px;
}
/*按钮样式*/
.btn{
	cursor: pointer;
	width: 50px;
	height: 60px;
	color: #FFFFFF;
	background-color: #E76259;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	position: absolute;
	top: 50%;
	margin-top: -30px;/*垂直居中*/
}
.prev_btn{
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	left: 0;
}
.next_btn{
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	right: 0;
}
/*索引区域*/
.homeNav{
	height: 13px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
	position: absolute;
	bottom: -53px;
	left: 0;
	padding: 20px 0;
	background-color: #F2F2F2;
}
.homeNav li{
	cursor: pointer;
	height: 5px;
	width: 60px;
	background-color: #AFB7B8;
	display: inline-block;
	margin: 0 5px;
}
/*交互部分*/
.homeNav li.active{
	background-color: #E04F43;
}


/*sectioIntro部分*/
.introBox{
	height: 100px;
	background-color: #F2F2F2;
}
.intro{
	height: 40px;
	padding: 30px 0;
	position: relative;
	background-color: #EBEBEB;
	border-radius: 3px;
}
.inTxtBox{
	padding: 0 28px;
}
.inTxtBox h1{
	font-family: '微软雅黑';
	font-size: 23px;
	color: #7F8C8C;
	font-weight: normal;
}
.inTxtBox p{
	font-family: '微软雅黑';
	font-size: 13px;
	color: #777777;
}
/*viewMore区域*/
.intMore{
	padding: 13px 44px;
	background-color: #E76259;
	border-radius: 6px;
	position: absolute;
	right: 30px;
	top: 30px;
	cursor: pointer;
}
.intMore a{
	font-family: '微软雅黑';
	font-size: 20px;
	color: #FFFFFF;
	font-weight: normal;
}

/*sectionServices区域*/
.servicesBox{
	background-color: #F2F2F2;
	padding: 50px 0 78px 0;
}
.card{
	width: 234px;
	height: 170px;
	background-color: #E4E5E5;
	border-radius: 6px;
	text-align: center;
	padding: 50px 18px 90px 18px;
	margin-right: 30px;
	position: relative;
	box-shadow: 0 2px #E4E5E5;
}
.card .cardTxt{
	width: 235px;
	height: 100px;

}
.card .cardTxt .suspen{
	margin:0 auto;
	width: 52px;
	height: 57px;
	background: url(../images/suspen.png) center center no-repeat;
}
.card .cardTxt h1{
	font-family: 'Open Sans';
	font-size: 16px;
	color: #7F8C8C;
	margin-top: 17px;
}
.card p{
	font-family: '微软雅黑';
	color: #7F8C8C;
	margin-top: 20px;
}
.maece{
	margin:0 auto;
	width: 55px;
	height: 57px;
	background: url(../images/maece.png) center center no-repeat;
}
.aliqu{
	margin:0 auto;
	width: 53px;
	height: 58px;
	background: url(../images/aliqu.png) center center no-repeat;	
}
.habit{
	margin:0 auto;
	width: 50px;
	height: 52px;
	background: url(../images/habit.png) center center no-repeat;
}

.cardMore{
	
}
.cardMore a{
	width: 70px;
	height: 16px;
	position: absolute;
	left: 35px;
	bottom: -27px;
	line-height: 16px;
	padding: 19px 65px;
	background-color:#74C6BF;
	border-radius: 6px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: '微软雅黑';
	box-shadow: 0 2px #528B86; 
}
/*最后一个名片*/
.lastCard{
	margin-right: 0;
}
/*交互*/
.cardBox div.active{
	background-color: #FFFFFF;
}
.cardBox div.active a{
	background-color: #E76259;
	box-shadow: 0 2px #E1524A; 
}

/*sectionAbout区域*/

.header_top{
	position: absolute;
	top: 0;
	width: 2000px;
	height: 20px;
	background: url(../images/ruler2.png) center bottom repeat-x;
}

.aboutBox{
	height: 400px;
	background-color: #EBEBEB;
	position: relative;
}
.about{
	position: relative;
}
.abTxtBox{
	padding: 80px 0;
	text-align: center;
}
.abTxtBox h1{
	color: #E0524B;
	font-family: '微软雅黑';
	font-size: 35px;
	font-weight: normal;
}
.abTxtBox p{
	color: #777777;
	font-family: '微软雅黑';
	font-size: 13px;
}
/*卡片区域*/
.abCardBox{
	position: absolute;
	width: 100%;
	top: 196px;
	left: 0;
}
.abCardBox .abCard{
	top: 60px;
	position: absolute;
	width: 370px;
	height: 259px;
	background: url(../images/abCard.png) center center no-repeat;
}
.abCardBox .abCardMain{
	position: absolute;
	left: 300px;
	width: 570px;
	height: 360px;
	z-index: 2;
	background: url(../images/abCardMain.png) center center no-repeat;
}
.abCardBox .abCardLeft{
	left: 0;
}
.abCardBox .abCardRight{
	right: 0;
}

/*sectionElemnts区域*/

.elemntBox{
	padding-top: 210px;
	height: 250px;
	background-color: #F2F2F2;
}
.elemnts{
	position: relative;
}
/*左边区域*/
.eleLeftBox{
	position: absolute;
	left: 0;
}
.eleLeftBox h1{
	font-family: 'Open Sans';
	font-size: 16px;
	color: #7F8C8C;
	font-weight: Extrabold;

}
.eleLeftBox ul.eleLeftList{
	margin-top: 35px;
}
.eleLeftBox ul.eleLeftList li{
	line-height: 20px;
	height: 20px;
	margin: 3px 0;
}
.eleLeftBox ul.eleLeftList li a{
	padding-left: 18px;
	background:url(../images/arrow3.png) left center no-repeat;
	font-family: '微软雅黑';
	color: #777777;
	font-size: 13px;
}
/*中间区域*/
.eleMainBox{
	width: 550px;
	position: absolute;
	left: 310px;
}
.eleMainBox p{
	font-size: 13px;
	line-height: 22px;
	font-family: '微软雅黑';
	color: #777777;
}
.eleMainBox p span{
	color: #E1524B;
}
.eleMainDataBox{
	padding-top: 55px;
	margin-right: 23px;
	width: 120px;
	height: 100px;
	text-align: center;
}
.DataBoxLast{
	margin-right: 0;
}
.eleMainDataBox .dataImg{
	width: 120px;
	height: 60px;
	margin: 0 auto;
}
.eleMainDataBox .suspImg{
	background: url(../images/50penc.png);
}
.eleMainDataBox .maceImg{
	background: url(../images/70penc.png);
}
.eleMainDataBox .aliqImg{
	background: url(../images/80penc.png);
}
.eleMainDataBox .habiImg{
	background: url(../images/100penc.png);
}
.eleMainDataBox h1{
	padding-top: 20px;
	font-family: 'Open Sans';
	font-size: 16px;
	color: #7F8C8C;
	font-weight: Extrabold;
	height: 22px;
	line-height: 22px;
}
/*右边区域*/
.eleRightBox{
	position: absolute;
	right: 0;
	width: 275px;
}
.eleRightBox h1{
	font-family: 'Open Sans';
	font-size: 16px;
	color: #7F8C8C;
	height: 23px;
	line-height: 23px;
	font-weight: Extrabold;
}
.eleRightBox .rightTxtBox{
	width: 234px;
	height: 104px;
	background: url(../images/dialogue.png) left center no-repeat;
	margin-top: 20px;
	padding: 20px 18px;
	position: relative;
}
.eleRightBox .rightTxtBox p{
	line-height: 21px;
	font-style: oblique;
	font-size: 12px;
	font-family: '微软雅黑';
	color: #777777;
}
.eleRightBox .rightTxtBox p span{
	font-style: normal;
}
.eleRightBox .rightTxtBox .auther{
	font-style: normal;
	position: absolute;
	top: 128px;
	left: 59px;
	font-size: 16px;
	font-weight: normal;
}

/*sectionClient区域*/
.clientBox{
	height: 220px;
	background-color: #F2F2F2;
}
.clientBox .clientHeaderBox{
	position: relative;
	width: 100%;
	height: 40px;
}
.clientBox .clientHeaderBox .cliHeadTitle{
	font-family: 'Open Sans';
	font-size: 16px;
	color: #7F8C8C;
	height: 40px;
	line-height: 40px;
	text-align: center;
	position: absolute;
	left: 0;
}
.clientBox .clientHeaderBox .cliHeadLine{
	position: absolute;
	left: 164px;
	top: 20px;
	width: 886px;
	height: 7px;
	background: url(../images/cliLine.png) left center no-repeat;
}
.clientBox .clientHeaderBox .cliHeadRightBox{
	position: absolute;
	right: 0;
	width: 100px;
}
/*cli按钮样式*/
.cliBtn{
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 6px;
	background-color: #97A2A2;
	display: inline-block;
	font-family: '宋体';
	font-weight: bolder;
	font-size: 30px;
	color: #FFFFFF;
	cursor: pointer;
}
.cliBtn:hover{
	background-color: #E1534B;
}
.cliPrevBtn{
	margin-right: 14px;
}
/*cliMain区域*/
.clientBox .clientMainBox{
	padding: 39px 0 51px 0;
	height: 90px;

}
.clientBox .clientMainBox .cliMainImg{
	float: left;
	height: 100%;
	width: 170px;
	margin-right: 30px;
	background: url(../images/jquery.png) left center no-repeat;
}
.clientBox .clientMainBox .MainImgLast{
	margin-right: 0;
}
/*footer区域*/
.footerBox{
	height: 300px;
	position: relative;
	background-color: #75C6BF;
}
.ft_Line{
	position: absolute;
	top: 0;
	width: 2000px;
	height: 19px;
	background: url(../images/ruler3.png) center bottom repeat-x;
}
/*footer左边区域*/
.footer{
	position: relative;
	height: 100%;
}
.footerBox .ftMainLeftBox{
	padding-top: 30px;
	width: 400px;
	position: absolute;
	left: 0;
}

.footerBox .ftMainLeftBox>p{
	color: #FFFFFF;
	font-size: 13px;
	font-family: '微软雅黑';
	line-height: 19px;
}
.footerBox .ftMainLeftBox .ftPhone{
	padding-top: 24px;
}
.footerBox .ftMainLeftBox .eMail span,
.footerBox .ftMainLeftBox .ftPhone span{
	font-weight: normal;
	font-size: 20px;
	padding-left: 16px;
	font-style: italic;
	font-family:'微软雅黑';
}
.footerBox .ftMainLeftBox .eMail{
	padding-top: 14px;
}
/*footer中间部分*/
.ftMainCenBox{
	padding-top: 30px;
	width: 400px;
	position: absolute;
	left: 400px;
}
.ftMainCenBox .ftMaCenBox{
	padding-top: 40px;
	width: 200px;
}
.ftMainCenBox .ftMaCenBox h1{
	font-family: '微软雅黑';
	font-size: 16px;
	color: #3B6360;
	padding-bottom: 30px;
}
.ftMainCenBox .ftMaCenBox ul{
	padding-left: 14px;
}
.ftMainCenBox .ftMaCenBox ul li{
	line-height: 20px;
	height: 20px;
}
.ftMainCenBox .ftMaCenBox ul li a{
	color: #FFFFFF;
	font-family: '微软雅黑';
	font-size: 12px;
	padding-left: 15px;
	background: url(../images/arrow2.png) left center no-repeat;
}
/*footer右边部分*/
.ftMainRigBox{
	padding-top: 30px;
	width: 370px;
	position: absolute;
	right: 0;
}
.ftMainRigBox h1{
	padding-top: 40px;
	font-family: '微软雅黑';
	font-size: 16px;
	color: #FFFFFF;
	font-weight: normal;
	font-style: oblique;
}
.ftMainRigBox h1 span{
	padding-left: 2px;
	font-weight: bold;
	font-style: normal;
}
.ftMainRigBox .RigBoxDec{
	padding-top: 20px;
}
.ftMainRigBox .RigBoxDec .RigBoxImg{
	cursor: pointer;
	width:70px;
	height: 70px;
	margin-right: 16px;
	background: url(../images/ftImg.png) left center no-repeat;
}
.ftMainRigBox .RigBoxDec p{
	color: #FFFFFF;
	font-family: '微软雅黑';
	font-size: 12px;
}
.ftMainRigBox .RigBoxDec .date{
	color: #3B6360;
	padding-top: 4px;
}
/*footerShare部分*/
.footerShareBox{
	height: 50px;
	background-color: #6AB3AC;
}
.footerShare{
	position: relative;
	height: 100%;
}
.footerShareBox .footerShare p{
	font-family: '微软雅黑';
	color: #FFFFFF;
	height: 50px;
	line-height: 50px;
}
.footerShareBox .footerShare .ftShareRig{
	width: 180px;
	height: 50px;
	margin-top: -25px;
	top: 50%;
	position: absolute;
	right: 0;
}
.footerShareBox .ftShareRig a{
	top: 12.5px;
	position: absolute;
	width: 25px;
	height: 25px;
}
.footerShareBox .ftShareRig .face{
	left: 20px;
	background: url(../images/face.jpg) left center no-repeat;
}
.footerShareBox .ftShareRig .google{
	right: 90px;
	background: url(../images/google.jpg) left center no-repeat;
}
.footerShareBox .ftShareRig .bird{
	right: 45px;
	background: url(../images/bird.jpg) left center no-repeat;
}
.footerShareBox .ftShareRig .wifi{
	right: 0;
	background: url(../images/wifi.jpg) left center no-repeat;
}